.picture {
  width: 100%;
  height: auto;
  max-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  margin: auto;

  border-radius: 0 0 0 40%;
}

.img {
  width: auto;
  height: auto;
}
