.containerPage {
  min-height: 50vh;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.text {
  font-size: 2rem;
}

.link {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background: rgb(69, 69, 216);
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: auto 0 0 0;
}
